body{
    color: rgb(3, 3, 3);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.ibb.co/wKBFJrz/Polish-20240430-184523041.jpg);
    }
.imagens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px;
}
.titulo{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.descricao{
    color: rgb(255, 255, 255);
    font-weight: 10;
    font-size: 20px;

}
