body{
    color: rgb(219, 194, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(file:///C:/Users/bethi/Downloads/WhatsApp%20Image%202024-04-30%20at%2018.44.42.jpeg);
}
.texto{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-start;
    
}
