body{
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(https://i.ibb.co/wKBFJrz/Polish-20240430-184523041.jpg);
    display: flex;
    gap: 300px;
}
.texto{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}
